body {
    background-color: lavender;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 7vh;
    font-family: marcellus;
    font-weight: 500px;
}

.container {
    background-color: black;
    padding: 60px;
    margin: 0;
    line-height: 10vh;
    box-shadow: 2px 4px 4px rgb(154, 151, 151);
    color: white;
    opacity: 70%;
}

.field1 {
    /* border-bottom: 1px solid;
    border-color: rgb(147, 86, 151); */
    line-height: 20vh;
}

.field2 {
    /* border-bottom: 1px solid;
    border-color: rgb(147, 86, 151); */
    line-height: 10vh;

}

input[type=text] {
    width: 10;
    padding: 10px 100px;
    border: 1px solid #999;
}

input[type=password] {
    width: 10;
    padding: 10px 100px;
    border: 1px solid #999;
}

input:placeholder-shown {
    color: purple;
    font-style: italic;
    text-align: left;
    cursor: pointer;
}

/*For width smaller than 400px*/


/*For width 400px and larger*/
@media only screen and (min-width:400px) {
    body {
        background-image: url("star\ plasma.jpg");
    }
}

a {
    color: white;
}

a:hover {
    color: red;
    cursor: pointer;
}

.btn {
    background-color: rgb(79, 40, 90);
    padding: 2vh 4vh;
    color: white;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn:hover {
    background-color: white;

}